@import url('http://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
}
li, a,button{
    font-family:"Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #f9faf8;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.links{
    display: flex;
}
.links li{
    justify-content: space-evenly;
    padding: 25px;
    list-style-type: none;
}
.links li a{
    text-decoration: none;
}
.hero-area{
    display: flex;
}
